body {
  background: $body_bg;
}

.no-border {
  outline: none;
  border: none;
}

.navbar-brand-zima {
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
  margin-top: 1px;
  > img {
    margin: 0 5px 0 0;
  }
}

.navbar-default {
  background: $navbar_bg;
  .navbar-nav {
    > .active > a,
    > .open > a {
      &,
      &:focus,
      &:hover {
        background: $navbar_active_bg;
      }
    }
    > li > a {
      &:focus,
      &:hover {
        color: $navbar_active_color;
      }
    }
    .open {
      .dropdown-menu {
        > li > a {
          &:focus,
          &:hover {
            color: $navbar_active_color;
          }
        }
      }
    }
  }
  .navbar-brand {
    &:focus,
    &:hover {
      color: $navbar_active_color;
    }
  }
  .navbar-toggle {
    &,
    &:hover {
      background: $navbar_active_bg;
      border-color: $navbar_active_bg;
    }
  }
}

.dropdown-menu {
  background: $menu_dropdown_bg;
  .divider {
    background-color: $navbar_divider_bg;
  }
  > li > a {
    color: $menu_dropdown_color;
    &:focus,
    &:hover {
      background-color: $navbar_active_bg;
    }
  }
}

.top-menu-bar-language-select {
  form {
    box-shadow: none;
  }
}

.panel {
  background: $body_bg;
}

.panel-default {
  border-color: $panel_default_bg;
  > .panel-heading {
    background-color: $panel_default_bg;
    border-color: $panel_default_bg;
  }
}

.panel-primary {
  border-color: $panel_primary_bg;
  > .panel-heading {
    background-color: $panel_primary_bg;
    border-color: $panel_primary_bg;
  }
}

.nav-pills {
  > li > a {
    &.active {
      background-color: $nav_pills_active_bg !important;
      color: $nav_pills_active_color;
    }
  }
  > li.active > a {
    &,
    &:focus,
    &:hover {
      background-color: $nav_pills_active_bg;
    }
  }
}

.top-user-menu {
  color: $menu_dropdown_color;
}

.nav {
  > li > a {
    &:focus,
    &:hover {
      background: $nav_hover_bg;
    }
  }
}
