$body_bg: darken($color_yinmn_blue, 30%);
$navbar_bg: darken($color_yinmn_blue, 15%);
$navbar_active_bg: darken($navbar_bg, 10%);
$navbar_active_color: darken($color_magic_potion, 10%);
$navbar_divider_bg: rgba($navbar_active_bg, 0.2);
$panel_primary_bg: $navbar_bg;
$nav_pills_active_bg: lighten($navbar_bg, 15%);
$menu_dropdown_bg: $navbar_bg;
$menu_dropdown_color: darken($color_white, 5%);
$panel_default_bg: lighten($panel_primary_bg, 5%);
$nav_hover_bg: $body_bg;
$nav_pills_active_color: $color_white;
