$color_black: #000;
$color_united_nations_blue: #5f88d9;
$color_white: #fff;
$color_yinmn_blue: #304f8c;
$color_magic_potion: #f24464;

// delete //
$color_argent: #bfbfbf;
$color_blood_red: #590202;
$color_red_devil: #8c0d0d;
$color_root_beer: #260101;
$color_smoky_black: #0d0d0d;
$color_ue_red: #b90505;
