$body_bg: $color_white;
$navbar_bg: $color_yinmn_blue;
$menu_dropdown_bg: $body_bg;
$menu_dropdown_color: $color_black;
$nav_hover_bg: $body_bg;
$nav_pills_active_bg: lighten($navbar_bg, 2%);
$navbar_active_bg: darken($navbar_bg, 5%);
$navbar_active_color: darken($color_magic_potion, 10%);
$navbar_divider_bg: rgba($navbar_active_bg, 0.2);
$panel_default_bg: lighten($navbar_bg, 40%);
$panel_primary_bg: lighten($navbar_bg, 5%);
$nav_pills_active_color: $color_white;
