@import "variables";
@import "extends";
@import "mixins";

body {
  background: url("../img/login-page-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: $color_white;
}

a {
  &,
  &:visited {
    color: lighten($color_yinmn_blue, 40%);
  }
  &:hover,
  &:focus {
    color: lighten($color_yinmn_blue, 20%);
  }
}

.w-content {
  margin-top: 150px;
}

.panel-zima {
  background:
    url("../img/android-chrome-192x192.png") no-repeat center 20px,
    radial-gradient(
      circle,
      rgba($color_united_nations_blue, 0.2) 30%,
      rgba($color_black, 0) 100%
    );
  padding: 220px 0 45px 0;
  border: none;
}

#lang-select {
  width: 160px;
  margin: 0 auto;
}

.w-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.info-ccp {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  > li {
    margin: 0 10px 10px 0;
    &:last-child {
      margin: 0 0 10px 0;
    }
  }
}
